
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .child{
    position: relative;
    top: 100;
}

td, th {
  text-align: center;
  vertical-align: middle;
}

mat-card {
  width: calc(100%);
  margin-top: 1em;
  
}