<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
    <mat-grid-list cols="2" rowHeight="500px">
              <app-orders-table [cards]='cards'></app-orders-table>
    </mat-grid-list>
<div>
  <!--
    <mat-grid-list cols="2" rowHeight="500px">
        <mat-grid-tile [colspan]='1' [rowspan]="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            Card Header
            <mat-card-title>
              Card Title
t            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div>content</div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]='1' [rowspan]="1">
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
  t            </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              <div>content</div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
  </div>

    <mat-grid-list cols="2" rowHeight="350px">
        <mat-grid-tile [colspan]='1' [rowspan]="2">
        <mat-card class="dashboard-card">
          <mat-card-header>
            Card Header
            <mat-card-title>
              Card Title
t            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div>content</div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    

</div>
  
-->
