



<div *ngFor='let customer'>
  {{customer}}
</div>
<mat-dialog-content>
<form [formGroup]="customerForm">
  <label>
    Company Name:
    <input type="text" [(ngModel)]="customer.name" formControlName="name" required value="{{customer.name}}" >
  </label>

  <label>
    Phone Number:
    <input type="text" [(ngModel)]="customer.phone"  formControlName="phone" value="{{customer.phone}}">
  </label>
  <label>
    Email Address:
    <input type="text" [(ngModel)]="customer.email"  formControlName="email" value="{{customer.email}}">
  </label>
    <h3>Address Info:</h3>

    <label>
      Address 1:
      <input type="text" [(ngModel)]="customer.address1" formControlName="address1" value="{{customer.address1}}">
    </label>

    <label>
      Address 2:
      <input type="text" [(ngModel)]="customer.address2" formControlName="address2" value="{{customer.address2}}">
    </label>

    <label>
      Address 3:
      <input type="text" [(ngModel)]="customer.address3" formControlName="address3" value="{{customer.address3}}">
    </label>

    <label>
      Zip Code:
      <input type="text" [(ngModel)]="customer.zip" formControlName="zip" value="{{customer.zip}}">
    </label>
    <label>
      State or Providence:
      <input type="text" [(ngModel)]="customer.state" formControlName="state" value="{{customer.state}}">
    </label>
    <label>
      Country:
      <input type="text" [(ngModel)]="customer.country" formControlName="country" value="{{customer.country}}">
    </label>
    <label>
      Description:
      <input type="text" [(ngModel)]="customer.description" formControlName="description" value="{{customer.description}}">
    </label>
<!--
  <div formArrayName="tasks">
    <h3>Aliases</h3> <button (click)="addAlias()">Add Alias</button>

    <div *ngFor="let address of aliases.controls; let i=index">
      -->
      <!-- The repeated alias template
      <label>
        Alias:
        <input type="text" [formControlName]="i">
      </label>
    </div>
    -->
  <button type="submit" [disabled]="!customerForm.valid" (click)="createCustomer()">Create</button>
  <button type="close" [mat-dialog-close]="true">Exit</button>
</form>

<hr>
<p>Form Value: {{ customerForm.value | json }}</p>
  <p>Form Value Non Json: {{customerForm.value['name'] }}</p>
<p>Form Status: {{ customerForm.status }}</p>

</mat-dialog-content>

<!--
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
