<form [formGroup]="expenseItemForm">
    <table>
      <tr>
        <td>
          <mat-form-field>
            <input matInput formControlName="expenseItemName" placeholder="Exense Name">
          </mat-form-field>
        </td>
        <td>
            <mat-form-field>
              <input matInput #cost type="number" formControlName="expenseItemCost" placeholder="Cost" (keyup)="onKey($event)">
            </mat-form-field>
        </td>
        <td>
            <mat-form-field>
              <input matInput formControlName="expenseItemTotal" placeholder="Total Item Cost">
            </mat-form-field>
        </td>
        <td>
          <button mat-icon-button (click)="delete()"><mat-icon>delete</mat-icon></button>
        </td>
        {{expenseId}}
    </table>
    <!--<pre>Todos Form Status: <span class="status">{{expenseItemForm.status}}</span></pre>-->
  </form>
  <mat-divider></mat-divider>