
<br />
<button (click)='decodeJwt()'>Decoder</button>
<br />
<div>
    <div class="spinner-container" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
    </div>

  <mat-table [dataSource]="orders" matSort class="mat-elevation-z8">


          
        <ng-container matColumnDef="ID">
          <mat-header-cell *matHeaderCellDef mat-sort-header (click)="getSortOrders('id')"> ID </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let order"> {{order.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="DUE DATE">
          <mat-header-cell *matHeaderCellDef mat-sort-header (click)="getSortOrders('due_date')">Due Date</mat-header-cell>
          <mat-cell mat-cell *matCellDef="let order"> {{order.due_date | date:'MM/dd/yyyy'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="BUYER" >
          <mat-header-cell *matHeaderCellDef  mat-sort-header (click)="getSortOrders('buyer__name')" > BUYER </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let order"> {{order.buyer_name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="FACTORY" class="overflow">
          <mat-header-cell *matHeaderCellDef > FACTORY </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let order"> {{order.factory_name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="ORDER NUMBER">
          <mat-header-cell *matHeaderCellDef > CUSTOMER ORDER ID </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let order"> {{order.customer_order_number}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="BUYER STYLE #">
          <mat-header-cell *matHeaderCellDef > BUYER STYLE # </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let order"> {{order.buyer_style_number}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="JP STYLE #">
          <mat-header-cell *matHeaderCellDef > JP STYLE # </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let order"> {{order.jp_style_number}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="FACTORY SHIP DT">
          <mat-header-cell *matHeaderCellDef > Factory Ship Date </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let order"> {{order.factory_ship_date}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="COST FROM FACTORY">
          <mat-header-cell *matHeaderCellDef > Cost From Factory </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let order"> {{order.cost_from_factory}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="BUYER PRICE">
          <mat-header-cell *matHeaderCellDef > Price Buyer Paid </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let order"> {{order.buyers_price}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="ORDER TYPE">
          <mat-header-cell *matHeaderCellDef > Order Type </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let order"> {{order.order_type}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="QTY">
          <mat-header-cell *matHeaderCellDef > Quantity </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let order"> {{order.qty}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="SWEATER IMG">
          <mat-header-cell *matHeaderCellDef > Image </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let order"><img src='{{order.sweater_image}}' /> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="SWEATER DESCRIPTION" class="overflow">
          <mat-header-cell *matHeaderCellDef > DESCRIPTION </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let order"> {{order.sweater_description}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="BRAND">
          <mat-header-cell *matHeaderCellDef > Brand </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let order"> {{order.brand}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="FIBER CONTENT" class="overflow">
          <mat-header-cell *matHeaderCellDef > Fiber Content </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let order"> {{order.fiber_content}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="COLOR">
          <mat-header-cell *matHeaderCellDef > Color </mat-header-cell>
          <mat-cell mat-cell *matCellDef="let order"> {{order.color}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="UPDATE">
          <mat-header-cell *matHeaderCellDef > Update </mat-header-cell>
          <mat-cell mat-cell  *matCellDef="let order"> <button mat-raised-button (click)="openUpdateDialog(order.id)">Update</button></mat-cell>
        </ng-container>

        <ng-container matColumnDef="TASKS">
          <mat-header-cell *matHeaderCellDef >Add Update Tasks </mat-header-cell>
          <div>
          <mat-cell mat-cell  *matCellDef="let order">
                  <mat-icon (click)="openModal('task-modal', order)">add</mat-icon>
                  <mat-icon (click)="openModal('update-task-modal',order)">update</mat-icon>
          </mat-cell>
          </div>
        </ng-container>
      

    <ng-container matColumnDef="TOTAL TASK SETS">
        <mat-header-cell *matHeaderCellDef >Total Open Task Sets</mat-header-cell>
        <div>
        <mat-cell mat-cell  *matCellDef="let order">
                <button mat-mini-fab>{{order.tasks.length}}</button>
        </mat-cell>
        </div>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayColumns" ></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayColumns;" (click)="onRowClicked(row)"></mat-row>
  </mat-table>

  <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Personal data
          </mat-panel-title>
          <mat-panel-description>
            Type your name and age
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        <mat-form-field>
          <input matInput placeholder="First name">
        </mat-form-field>
    
        <mat-form-field>
          <input matInput placeholder="Age">
        </mat-form-field>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Self aware panel
          </mat-panel-title>
          <mat-panel-description>
            Currently I am {{panelOpenState ? 'open' : 'closed'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
    </mat-accordion>
    

</div>


<div *ngIf="selectedTask">
  {{selectedTask.length}}
  <div *ngFor="let task of selectedTask">
    
  </div>
</div>

<!--
<div *ngIf='order && order.tasks.length > 0'>
  <div *ngFor="let task of order.tasks">
    <h2>Group Name: {{task.todos_group}}</h2>
    <h3>Set Name: {{task.set_name}}</h3>
    <div *ngFor='let todo of task.todos'> 
    <mat-table [dataSource]="todo" class="mat-elevation-z8">

        <ng-container  matColumnDef="todos">
            <mat-header-cell  *matHeaderCellDef> Task Name </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let todo"> {{todo.todo}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="comment">
            <mat-header-cell *matHeaderCellDef> Comment </mat-header-cell>
            <mat-cell mat-cell  *matCellDef="let todo"> {{todo.comment}} </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="duedate">
            <mat-header-cell *matHeaderCellDef> Due Date </mat-header-cell>
            <mat-cell mat-cell  *matCellDef="let todo"> {{todo.dueduate}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
            <mat-cell mat-cell  *matCellDef="let todo"> {{todo.status}} </mat-cell>
        </ng-container>
    
      </mat-table>

    <mat-header-row *matHeaderRowDef="tododisplayColumns" ></mat-header-row>
    <mat-row *matRowDef="let row; columns: tododisplayColumns;"></mat-row>
  </div>
  <mat-divider></mat-divider>

</div>
-->


<modal id="task-modal">
  <div class="modal">
    <div class="modal-body">
      <app-order-task [order]="order"></app-order-task>
      <button (click)="closeModal('task-modal');">Close</button>
    </div>
  </div>
<div class="modal-background"></div>
</modal>

<modal id="update-task-modal">
    <div class="modal">
      <div class="modal-body">
        <app-order-task [order]="order" [update]="true"></app-order-task>
        <button (click)="closeModal('custom-modal-1');">Close</button>
      </div>
    </div>
  <div class="modal-background"></div>
  </modal>

<modal id="custom-modal-1">
  <div class="modal">
      <div class="modal-body">
          <h1>A Custom Modal!</h1>
          <p>
              Home page text: <input type="text" [(ngModel)]="bodyText" />
          </p>
          <button (click)="closeModal('custom-modal-1');">Close</button>
      </div>
  </div>
  <div class="modal-background"></div>
</modal>