.wrapper {
    width: 100%;
    overflow: auto;
    
  }
  
  table  {
    min-width: 100%;
    text-align: center;


  }
  table > button {
      align-content: center;
  }

td{
    min-width: 100px;
}
mat-header-cell {
    justify-content:center;

}

.mat-sort-header-container{
    justify-content: inherit;

}
td.mat-column-star {
width: 20px;
}

th{
    vertical-align: center;
}

/*
mat-header-row{
    mat-header-cell {
        font-size: .9em;
        display:flex;
        justify-content: center;
        color: black;
        
        .mat-sort-header {
            color: black;
            font-size: .9em;
            display:flex;
            justify-content: center;
        }
        div.mat-sort-header-container{
            padding-left: 12px;
        }
    
        .mat-column {
            flex: 0 0 25;
        }

            
    }
}
mat-cell {
    display: flex;
    justify-content: center;
    font-size: 1em;
    overflow: hidden;
}
*/
img {
    max-height: 40px;
}



.gray {background-color: #eff3f9;}



.highlight {
    background-color: #424242; /* green */
    font-weight: bold;
    * {
        color: #A0F4E1;

    }
}


mat-row:hover * {
    color: #d611f4;
   
}
