.mat-table__wrapper .mat-table {
    min-width: auto !important;
    width: 100% !important;
}

mat-header-cell {
    font-size: .9em;
    display:flex;
    justify-content: center;
    color: black;
    
    .mat-sort-header-button {
        color: black;
        font-size: .9em;
        display:flex;
        justify-content: center;
    }

        
   }


mat-cell {
    display:flex;
    justify-content: center;
    font-size: inherit;
    overflow: hidden;
}
.mat-header-row {
    width: 100%;
}

.mat-row {
    width: 100%;
    font-size: 14px;
    min-height: 60px;

}




.highlight * {
    background-color: #424242; /* green */
    font-weight: bold;
    color: #A0F4E1;
}

  
