<mat-dialog-content>
    <h4>Total Sweaters In Order: &nbsp; {{qty}}</h4>
<!--  Task Group id: {{taskForm.controls.todos_group.value}} -->
  <br />
  <form [formGroup]="expenseForm" class="primary">

      
   <h3>Add Expense Items</h3>
    <button mat-mini-fab	color="primary" (click)="addExpenseItems()">
      <mat-icon style="color: whitesmoke">add</mat-icon>
    </button> &nbsp; 
    Add Expense Line Item
    <ul >
      <li *ngFor="let item of expenseItems?.controls; let i = index" style="list-style-type:none">
        <app-order-expense-item [index]="i" [quantity]="qty" [expenseItemForm]="item" 
        (delExpenseItems)="deleteExpenseItems($event)" (keyUp)="calculatTotals(event$)"></app-order-expense-item>
         <!-- delExpenseItems is the child output-->
      </li>
    </ul>

    <button mat-button style="background-color:black; color:whitesmoke" type="submit" mat-button-raised color="accent" (click)="clearExpenseForm()"><mat-icon>delete</mat-icon>Clear Form</button>
    &nbsp;
    <button mat-button style="background-color:black; color:whitesmoke" type="submit" mat-button-raised color="accent" (click)="saveExpenseForm()" [disabled]="expenseForm.invalid"><mat-icon>send</mat-icon>Add Expense To Order</button>
    &nbsp;
   <!-- <pre>Parent Form Status: <span class="status">{{expenseForm.status}} <br />{{expenseForm.value | json}}</span></pre>-->
  </form>
</mat-dialog-content>
