$width: 100%;
$tabledata: 15;
$height: auto;

.wrapper{
    display: inline-flex;
    flex-direction: column;
    min-width: 100%;
    max-width: 100%;
    min-height: 97%;
    overflow-x: auto;
}

mat-table{
    overflow: auto;
    
}
div.mat-sort-header-container {
    color: black;
    button.mat-sort-header-button, * {
        align-items: center;
        justify-content: center;
        color: black;
    }
}
mat-cell.mat-cell{
    font-size: 13px;
    min-height: 1.5em;
  
}
.mat-column-id{
    max-width: 60px;
    align-self: stretch;
    text-align: center;
}
.mat-column-contact{
    min-width: 60px;
    flex-grow: 1;
    align-self: stretch;
    text-align: center start;
}
.mat-column-name{
    min-width: 100px;
    flex-grow: 1.3;
    align-self: stretch;
    text-align: center start;
}
.mat-column-address1, .mat-column-address2, .mat-column-address3{
    min-width: 100px;
    flex-grow: 1.5;
    align-self: stretch;
    text-align: center start;
    padding-left: 10px;
}

.mat-column-country, .mat-column-city, .mat-column-state, .mat-column-zipcode{
    min-width: 60px;
    flex-grow: 1;
    align-self: stretch;
    text-align: center start;
}

.mat-column-email{
    min-width: 75px;
    flex-grow: 1;
    align-self: stretch;
    text-align: center;
}
.mat-column-phone{
    min-width: 100px;
    flex-grow: 1;
    align-self: stretch;
    text-align: center;
}
.mat-column-website{
    min-width: 60px;
    flex-grow: 1.1;
    align-self: stretch;
    text-align: center;
}
.mat-column-description{
    min-width: 60px;
    flex-grow: 1.1;
    align-self: stretch;
    text-align: center;
}
.mat-column-update{
    min-width: 60px;
    align-self: stretch;
    text-align: center;
    padding-left: 1em;
}
.mat-column-delete{
    min-width: 60px;
    align-self: stretch;
    text-align: center;
}
mat-row, mat-header-row{
    display: flex;
    border-bottom-color: black;

}


mat-row:hover {

    mat-cell, button{
        color: #cc30bf
    }

    button.mat-icon-button:hover{
        color: green;
    }

}
