
<div>
<button mat-raised-button (click)="openAddDialog()">Add Mat Modal</button>
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
</div>

  <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" >
  <div class="wrapper">

    <div *ngFor="let item of displayedColumns">
      <ng-container matColumnDef={{item}} *ngIf="item !== 'update' && item !== 'delete'">
           <mat-header-cell *matHeaderCellDef mat-sort-header> {{item}} </mat-header-cell>
           <mat-cell *matCellDef="let row" > {{row[item]}} </mat-cell>
      </ng-container>
    </div>

      <ng-container matColumnDef="update">
           <mat-header-cell *matHeaderCellDef mat-sort-header> update </mat-header-cell>
           <mat-cell *matCellDef="let row" >
              <button mat-icon-button matTooltip="update" (click)="openUpdateDialog(row)">
               <mat-icon>update</mat-icon>
              </button>
            </mat-cell>
      </ng-container>
      <ng-container matColumnDef="delete">
          <mat-header-cell *matHeaderCellDef mat-sort-header> delete </mat-header-cell>
           <mat-cell *matCellDef="let row" >
             <button mat-icon-button matTooltip="delete">
               <mat-icon (click)="openDeleteDialog(row)">delete</mat-icon>
              </button>
            </mat-cell>
      </ng-container>
    </div>

    <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row  (click)="onRowClicked(row)" *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  
