<p>
  factory-table works!
</p>

<div>
<button mat-raised-button (click)="openAddDialog()">Add New Factory</button>
</div>
  <mat-table class="alternate-theme" [dataSource]="factories" matSort class="mat-elevation-z8" >

  <!-- Name Column -->
    <ng-container matColumnDef="ID">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let factories"> {{factories.id}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="NAME">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let factories"> {{factories.name}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="ADDRESS1">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Address 1 </mat-header-cell>
      <mat-cell *matCellDef="let factories"> {{factories.address1}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ADDRESS2">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Address 2 </mat-header-cell>
      <mat-cell *matCellDef="let factories"> {{factories.address2}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ADDRESS3">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Address 3 </mat-header-cell>
      <mat-cell *matCellDef="let factories"> {{factories.address3}} </mat-cell>
    </ng-container>
  <ng-container matColumnDef="COUNTRY">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Country </mat-header-cell>
      <mat-cell *matCellDef="let factories"> {{factories.country}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="STATE">
      <mat-header-cell *matHeaderCellDef mat-sort-header> State </mat-header-cell>
      <mat-cell *matCellDef="let factories"> {{factories.state}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ZIP">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Zip </mat-header-cell>
      <mat-cell *matCellDef="let factories"> {{factories.zip}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="EMAIL">
      <mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </mat-header-cell>
      <mat-cell *matCellDef="let factories"> {{factories.email}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="PHONE">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Phone # </mat-header-cell>
      <mat-cell *matCellDef="let factories"> {{factories.phone}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="WEBSITE">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Website </mat-header-cell>
      <mat-cell *matCellDef="let factories"> {{factories.website}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="DESCRIPTION">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
      <mat-cell *matCellDef="let factories"> {{factories.description}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="UPDATE">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Update </mat-header-cell>
      <mat-cell  *matCellDef="let factories"> <button color="primary" mat-raised-button (click)="openUpdateDialog(factories.id)">Update</button></mat-cell>
    </ng-container>
    <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row color="warm" *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  

<modal id="factory-add-modal">
    <div class="modal">
      <div class="modal-body">
          <app-factory-base-form></app-factory-base-form>
             <!-- <app-jp-forms></app-jp-forms>-->
        <button (click)="closeModal('factory-add-modal');">Close</button>
      </div>
    </div>
    <button (click)="closeModal('factory-add-modal');">Close</button>
  <div class="modal-background"></div>
</modal>
