
<div style="border-width: .05px; border-style: solid; border-bottom-color: black; border-top-color:black">
  <a mat-list-item color="primary" [ngStyle]="{'padding-left': (depth * 12) + 'px'}" (click)="onItemSelected(item)"
                [ngClass]="{'active': item.route ? router.isActive(item.route, true): false, 'expanded': expanded}"> 
    <mat-icon  style="color:#F5F5F5" class="routeIcon">{{item.iconName}}</mat-icon> <!--the arrow icon-->
    
    
    <div *ngIf='!expanded' style="color:#F5F5F5">{{item.displayName}}</div>
    <div *ngIf='expanded' style="color:#A7FFEB">{{item.displayName}}</div>

      <span fxFlex></span>
      <mat-icon style="color:#F5F5F5;" [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
        expand_more
      </mat-icon>
  </a>
  
  <div *ngIf="expanded"> 
    <div *ngFor="let child of item.children"  style="color:#F5F5F5">
        <a mat-list-item color="primary" routerLink={{child.route}} 
        [ngClass]="{'active': child.route ? router.isActive(child.route, true): false, 'expanded': expanded}" (click)="close()">

          <span fxFlex  *ngIf="item.children && item.children.length">    
            <mat-icon  style="color:#F5F5F5">{{child.iconName}}</mat-icon> <!--the arrow icon-->
            <span  style="color:#F5F5F5">{{child.displayName}}</span>
          </span>
        </a>
    </div>
  </div>
</div>
