<p>
  factory-contact works!
</p>



<mat-card class="alternate-theme">
    <mat-card-header>
        <mat-card-title>Add Contact</mat-card-title>
    </mat-card-header>
    <mat-card-content>


      <form [formGroup]="contactForm" class="alternate-theme">      
          &nbsp;
           <mat-form-field class="form-element">
           <input matInput placeholder="First Name" formControlName='first_name'>
           </mat-form-field>
          &nbsp;
           <mat-form-field class="form-element">
           <input matInput placeholder="Last Name" formControlName="contact_last_name">
           </mat-form-field>
          &nbsp;
           <mat-form-field class="form-element">
           <input matInput placeholder="Phone #" formControlName="contact_phone_number">
           </mat-form-field>

          &nbsp;
          <mat-form-field class="form-element">
          <input matInput placeholder="Email" formControlName="contact_email">
          </mat-form-field>

          &nbsp;
          <button mat-raised-button  color="primary" class='mat-elevation-z8' (click)="addContact(contactForm)">Submit</button>

       </form>
    </mat-card-content>
</mat-card>


<div *ngIf="!post; else forminfo" novalidate>
<div class="mat-elevation-z8">


    <mat-table #table [dataSource]="contacts" fromGroupName='contactForm'>

      <!--- Note that these columns can be defined in any order.
      <mat-table #table [dataSource]="dataSource" formArrayName="contact">
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Id. </mat-header-cell>
        <mat-cell *matCellDef="let contacts"> {{contacts.id}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="first_name">
        <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
        <mat-cell *matCellDef="let contacts"> {{contacts.first_name}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="contact_last_name">
        <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
        <mat-cell *matCellDef="let contacts"> {{contacts.last_name}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="contact_phone_number">
        <mat-header-cell *matHeaderCellDef> Phone # </mat-header-cell>
        <mat-cell *matCellDef="let contacts"> {{contacts.contact_phone_number}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="contact_email">
        <mat-header-cell *matHeaderCellDef> Phone # </mat-header-cell>
        <mat-cell *matCellDef="let contacts"> {{contacts.contact_email}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" ></mat-row>
    </mat-table>

</div>
