<p>
  dynamic-task works!
</p>
<div [formGroup]="form">
  <label [attr.for]="task.key">{{task.label}}</label>

  <div [ngSwitch]="task.controlType">

    <input *ngSwitchCase="'textbox'" [formControlName]="task.key"
            [id]="task.key" [type]="task.type">


    <select [id]="task.key" *ngSwitchCase="'dropdown'" [formControlName]="task.key">
      <option *ngFor="let opt of task.options" [value]="opt.key">{{opt.value}}</option>
    </select>

  </div>

  <div class="errorMessage" *ngIf="!isValid">{{task.label}} is required</div>
</div>
