<p>
  task-update works!
</p>
<form [formGroup]="taskForm" >
  Task Group Name: {{taskForm.controls.group_name.value}}

  <p>Todos:</p>
  <button mat-button-raised color="primary"(click)="addTodos()">Add Todos</button>
  <ul>
    <li *ngFor="let todo of todos?.controls; let i = index">
      <app-todos [index]="i" [todosForm]="todo" (deletePlayer)="deleteTodos($event)"></app-todos>
    </li>
  </ul>

  <button  type="submit" mat-button-raised color="accent" (click)="saveTodos()" [disabled]="taskForm.invalid">Submit</button>
  <pre>Parent Form Status: <span class="status">{{taskForm.status}} <br />{{taskForm.value | json}}</span></pre>
</form>
