
<customer-add></customer-add>
<button mat-raised-button (click)="openDialog()">Add New Customer<i class="material-icons" style="font-size:40px; color: forestgreen">add_box</i></button>

<mat-card *ngFor='let customer of customers'>
    <!-- Title of an Card -->
  <mat-card-title>
    {{customer.name}}
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]='newCustomerForm' #form="ngForm">
      <table>
        <tr>
          <td>
            <mat-form-field class="input-container">
              <input matInput type="text"
                     placeholder="name"
                     value={{customer.name}}>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
