.mat-form-field {
    margin: 0 3rem;
    padding: 10px 0 0;
}

.status {
    color: green;
    font-weight: 800;
}

.ng-invalid {
    .status {
        color: red;
    }
}
mat-form-field.mat-form-field {
    font-size: 1.2em;
  }

.my-fab{
 .mat-icon {
    size: .5em;
    padding-right: 4px;
    padding-top: 4px;
  }
}

figure.mat-figure{
    padding-bottom: -20%;
}