    <form [formGroup]="orderTaskTodoForm">

            <!-- emit delete event up w/ index of todos -->
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">

            <mat-form-field >
              <input matInput formControlName="todo" placeholder="Task Name">
            </mat-form-field>
        
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Due Date"formControlName="duedate">
              <mat-datepicker-toggle matSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          <mat-form-field class="form-element">
          <mat-select matInput  placeholder="Status" formControlName='status'>
            <mat-option *ngFor="let status of status; let i=index" value={{status}}>
              <span class="mat-option-text">{{status}}</span>
            </mat-option>
          </mat-select>
          </mat-form-field>


  
              <mat-form-field>
                <input matInput formControlName="comment" placeholder="Comment">
              </mat-form-field>
      
        <button mat-mini-fab (click)="delete()" class="my-fab" >
          <mat-icon>delete</mat-icon>
        </button>

      </div>



  <!--<span class="status">{{orderTaskTodoForm.status} style="background-color:firebrick; color:white}</span> -->
    </form>

