<p>
  factory-update works!
</p>

<div *ngIf='factory'>
<mat-dialog-content>
<form [formGroup]="factoryForm">
  <label>
    Company Name:
    <input type="text" [(ngModel)]="factory.name" formControlName="name" required [value]='factory.name' >
  </label>

  <label>
    Phone Number:
    <input type="text" [(ngModel)]="factory.phone"  formControlName="phone" [value]="factory.phone">
  </label>
  <label>
    Email Address:
    <input type="text" [(ngModel)]="factory.email"  formControlName="email" value="{{factory.email}}">
  </label>
    <h3>Address Info:</h3>

    <label>
      Address 1:
      <input type="text" [(ngModel)]="factory.address1" formControlName="address1" value="{{factory.address1}}">
    </label>

    <label>
      Address 2:
      <input type="text" [(ngModel)]="factory.address2" formControlName="address2" value="{{factory.address2}}">
    </label>

    <label>
      Address 3:
      <input type="text" [(ngModel)]="factory.address3" formControlName="address3" value="{{factory.address3}}">
    </label>

    <label>
      Zip Code:
      <input type="text" [(ngModel)]="factory.zip" formControlName="zip" value="{{factory.zip}}">
    </label>
    <label>
      State or Providence:
      <input type="text" [(ngModel)]="factory.state" formControlName="state" value="{{factory.state}}">
    </label>
    <label>
      Country:
      <input type="text" [(ngModel)]="factory.country" formControlName="country" value="{{factory.country}}">
    </label>
    <label>
      Description:
      <input type="text" [(ngModel)]="factory.description" formControlName="description" value="{{factory.description}}">
    </label>

  <button type="update" [disabled]="!factoryForm.valid" (click)="updateFactory()">Update</button>
  <button type="close" [mat-dialog-close]="true">Exit</button>
</form>
{{factoryForm.value | json}}

</mat-dialog-content>
</div>

<!--
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
