@import "mixins";

#customers {
  margin: 2rem;
}

.hero-header__image, mat-card-title, mat-card-subtitle, .mat-card-image {
  cursor: pointer;
}

.customer-card {
  @include push--auto(2rem);
}


  .mat-card {
    margin-bottom: 2rem;
  }
}
