
<!--
<div>
    <app-header></app-header>
    <app-top-nav class="fixed-topnav" fxHide.gt-xs></app-top-nav>
    <router-outlet *ngIf="isOnline;else isOffline"></router-outlet>
    <ng-template #isOffline>
        <div>
            <p class="offline-error">{{'offlineMessage'}}&nbsp;&nbsp;&nbsp;<span>:&nbsp;)</span></p>
        </div>
    </ng-template>
</div>-->
<!--The content below is only a placeholder and can be replaced.-->
<app-top-nav class="fixed-topnav" fxHide.gt-xs></app-top-nav>
<mat-sidenav-container>
  <mat-sidenav #appDrawer mode="over" opened="false">
    <mat-nav-list>
      <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <app-top-nav fxHide.xs></app-top-nav>
  <router-outlet></router-outlet>
</mat-sidenav-container>
