
<div [ngClass]="{'primary-dark': isDarkTheme | async}">
  <div class="mat-app-background">

  <app-top-nav class="fixed-topnav" fxHide.gt-xs>test</app-top-nav>
  <mat-sidenav-container>
    <mat-sidenav #appDrawer mode="over" opened="false">
      <mat-nav-list>
        <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <app-top-nav fxHide.xs></app-top-nav>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
  </div>
</div>
<!--
<app-time-difference units="Year |  Month | Days | Hours | Minutes | Seconds"  end="2018-12-31"></app-time-difference>

<mat-card>
  Main Theme:
  <button mat-raised-button color="primary">
    Primary
  </button>
  <button mat-raised-button color="accent">
    Accent
  </button>
  <button mat-raised-button color="warn">
    Warning
  </button>
</mat-card>

<mat-card class="alternate-theme">
  Alternate Theme:
  <button mat-raised-button color="primary">
    Primary
  </button>
  <button mat-raised-button color="accent">
    Accent
  </button>
  <button mat-raised-button color="warn">
    Warning
  </button>
</mat-card>
-->
