@import '../styles.scss';
@import "./styles/mixins.scss";
@import "./styles/colors.scss";
@import "./core/nav/top-nav/top-nav.component.scss";
@import './styles/breakpoints';
@import '../../node_modules/angular-calendar/css/angular-calendar.css';
@import './pages/task-calendar/task-calendar.component.scss';



.mat-sidenav {
  width: 360px;
  background-color:#212121!important;
}

//sets actual backgrond coolor
.mat-sidenav-container {
  height: 100vh;
}


.mat-nav-list {
  padding-top: 500;
  background-color: "black" !important;
  color: "black";

}
@include breakpoint-max(600px) {
  .fixed-topnav {
    color: #ECEFF1;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    min-width: 1400px;
  }

  .mat-drawer-container {
    margin-top: 56px;
    color: black;


  }
}

modal {
  /* modals are hidden by default */
  display: none;

  .modal {
      /* modal container fixed across whole screen */
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      /* z-index must be higher than .modal-background */
      z-index: 1000;
      
      /* enables scrolling for tall modals */
      overflow: auto;

      .modal-body {
          padding: 20px;
          background: #fff;

          /* margin exposes part of the modal background */
          margin: 40px;
      }
  }

  .modal-background {
      /* modal background fixed across whole screen */
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      /* semi-transparent black  */
      background-color: #000;
      opacity: 0.75;
      
      /* z-index must be below .modal and above everything else  */
      z-index: 900;
  }
}

body.modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}

/*

$my-app-primary: mat-palette($mat-gray, 800);
$my-app-accent: mat-palette($mat-orange, A200, A100, A400);
$my-app-warn: mat-palette($mat-red);

$my-app-theme: mat-dark-theme($my-app-primary, $my-app-accent, $my-app-warn);


@include angular-material-theme($my-app-theme);

.alternate-theme {
  $alternate-primary: mat-palette($mat-yellow, 50);
  $alternate-accent:  mat-palette($mat-yellow, 400);
  $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);
  @include angular-material-theme($alternate-theme);
}
*/
