<h1>Edit Product</h1>
<div>
<div>
<form [formGroup]="todosForm">
  <label>
    Task Group: <input formControlName="todos_group" />
  </label>
    <h2>Task Set</h2>
    <button type="button" (click)="addTodo()">Add Todo</button>
    <div formArrayName="todos">
      <div *ngFor="let item of taskTodos.controls; let todoIndex=index" [formGroupName]="todoIndex">
        <label>
          Task Item:  <input formControlName="todo" />
        </label>
        <button type="button" (click)="deleteTodo(todoIndex)">Undo</button>
      </div>
      <button type="button" (click)="addTodo()">Add Todo</button>
      <button type="button" (click)="saveSet()">save</button>
      <button type="button" (click)="getHttpOptions()">Options</button>
    </div>
</form>
</div>
{{ this.todosForm.value | json}}
