<p>
  generate-order-task works!
</p>
{{task | json}}

<form [formGroup]="taskForm">
  <label>
    Task Group: <input formControlName="todos_group" />
  </label>
<!--
  <div formArrayName="todos">
    <div *ngFor="let item of taskTodos.controls; let todoIndex=index" [formGroupName]="todoIndex">
      <label>
        Task Item:  <input formControlName="todo" />
      </label>
      <label>
        Task Item:  <input formControlName="comment" />
      </label>
      <label>
        Task Item:  <input formControlName="duedate" />
      </label>
    </div>
  </div>-->
