<header>
<nav>
  <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
    <div fxFlex="40">
      <a mat-raised-button *ngFor="let item of menuItems" routerLink="{{item.link}}">
          {{item.name | uppercase}}
      </a>
    </div>

    <div fxFlex class="text--right">
      <button mat-raised-button [matMenuTriggerFor]="matmenu">
        Customer
      </button>
        <mat-menu  #matmenu="matMenu">
          <a *ngFor="let item of menuItems" routerLink="{{item.link}}">
          <button mat-menu-item>{{item.name | uppercase}}</button>
          </a>
        </mat-menu>
    </div>
  </div>
</nav>
</header>

<p>
  header works!
</p>
