$width: 75%;
$tablewidth: 100%;
$tabledata: 3%;
$height: auto;
$imgW: 50px;
$imgH: auto;
$overflow: auto;

div.table {
  width: $width;
  margin-left:12.5%;
  margin-right:12.5%;
}

table {
    width: $tablewidth;
    overflow: $overflow;

}

td {
  width: $tabledata;
}
img {
   width:$imgW;
    height:$imgH;
}
