
<mat-card>
  <div fxLayout="col" fxLayoutWrap fxLayoutAlign="center"  >
    <mwl-demo-utils-calendar-header
      [(view)]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="loadEvents()"
      (viewChange)="loadEvents()">
    </mwl-demo-utils-calendar-header>
  </div>
    


    <!--<ng-template #loading>
      <div class="text-center">
        <i class="fa fa-spin fa-spinner fa-5x"></i>
        <br>
        Loading events...
      </div>
    </ng-template>-->
       
        <div fxLayout="row" fxLayoutWrap fxLayoutAlign="center" >
          <ng-template *ngIf="asyncEvents$ | async; else loading; let asyncEvents">
            <div fxLayoutAlign="strech">

              <div [ngSwitch]="view">
                <mwl-calendar-month-view
                  *ngSwitchCase="'month'"
                  [viewDate]="viewDate"
                  [events]="asyncEvents"
                  [events]="async2$"
                  [activeDayIsOpen]="activeDayIsOpen"
                  (dayClicked)="dayClicked($event.day)"
                  (eventClicked)="eventClicked($event.event)">
                </mwl-calendar-month-view>
                <mwl-calendar-week-view
                  *ngSwitchCase="'week'"
                  [viewDate]="viewDate"
                  [events]="asyncEvents"
                  (eventClicked)="eventClicked($event.event)">
                </mwl-calendar-week-view>
                <mwl-calendar-day-view
                  *ngSwitchCase="'day'"
                  [viewDate]="viewDate"
                  [events]="asyncEvents"
                  [events]="async2$"
                  (eventClicked)="eventClicked($event.event)">
                </mwl-calendar-day-view>
              </div>
            </div>
          </ng-template>
          <div>
            <div>asdf</div>

            <ng-template ngIf="isLoading === false">
              <div >
                <div [ngSwitch]="view">
                    <mwl-calendar-month-view
                      *ngSwitchCase="'month'"
                      [viewDate]="viewDate"
                      [events]="async2$"
                      [activeDayIsOpen]="activeDayIsOpen"
                      (dayClicked)="dayClicked($event.day)"
                      (eventClicked)="eventClicked($event.event)">
                    </mwl-calendar-month-view>
                    <mwl-calendar-week-view
                      *ngSwitchCase="'week'"
                      [viewDate]="viewDate"
                      [events]="async2$"
                      (eventClicked)="eventClicked($event.event)">
                    </mwl-calendar-week-view>
                    <mwl-calendar-day-view
                      *ngSwitchCase="'day'"
                      [viewDate]="viewDate"
                      [events]="async2$"
                      (eventClicked)="eventClicked($event.event)">
                    </mwl-calendar-day-view>
                 </div>
                </div>
             </ng-template>
            </div>
            </div>

</mat-card>
