h3 {
    margin: 0 0 10px;
  }
  
  pre {
    background-color: #f5f5f5;
    padding: 15px;
  }

  mat-card {
    width: calc(100% - 40%);
    height: calc(100% - 40%);
  }


.child-right {
  background:green;
  width: 33%;
  position: absolute;
  right: 0;
  top: 0;
}