
<div fxLayout="col" fxLayoutAlign="center" style="padding-top: 20px">

        <mat-card>
            <div><button mat-button color="primary">BOOO</button></div>
            <mwl-demo-utils-calendar-header
              [(view)]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="loadEvents()"
              (viewChange)="loadEvents()">
            </mwl-demo-utils-calendar-header>
            
            <ng-template #loading> 
                    <div class="text-center">
                      <i class="fa fa-spin fa-spinner fa-5x"></i>
                      <br>
                      Loading events...
                    </div>
            </ng-template>
            <!--
                    <div *ngIf="async2.length > 0; else loading">
                        <div *ngFor="let item of async2">
                            <div [ngSwitch]="view">
                                <mwl-calendar-month-view
                                *ngSwitchCase="'month'"
                                [viewDate]="viewDate"
                                [events]="item"
                                [activeDayIsOpen]="activeDayIsOpen"
                                (dayClicked)="dayClicked($event.day)"
                                (eventClicked)="eventClicked($event.event)">
                                </mwl-calendar-month-view>
                                <mwl-calendar-week-view
                                *ngSwitchCase="'week'"
                                [viewDate]="viewDate"
                                [events]="item"
                                (eventClicked)="eventClicked($event.event)">
                                </mwl-calendar-week-view>
                                <mwl-calendar-day-view
                                *ngSwitchCase="'day'"
                                [viewDate]="viewDate"
                                [events]="item"
                                (eventClicked)="eventClicked($event.event)">
                                </mwl-calendar-day-view>
                            </div>
                       </div>
                    </div>
                -->
        </mat-card>
        </div>
